// Big Button

.big-button {
  width: 100%;
  margin: 0 0 $m-size 0;
  padding: 2.4rem;

  font-weight: bold;
  font-size: $l-size;

  background: $purple;
  color: white;

  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);

  &:disabled {
    opacity: 0.5;
  }
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin: 0 0 $xl-size 0;
  }
}

// Button

.button {
  padding: $s-size;

  font-weight: 500;

  background: $purple;
  color: white;

  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
}

.button--link {
  padding: 0;

  background: none;
  color: $off-white;

  border: none;
}